{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}



<section class="main-banner">
  <div class="main-banner-item" style="background-image: url({{ section.settings.image | image_url }});">
    <div class="container">
      <div class="main-banner-content text-center text-light  ">
        <h3>{{ section.settings.title_1 | escape }}</h3>
        <h2>{{ section.settings.title_2 | escape }}</h2>
          <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_title | escape }}</a>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Image Banner Custom",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "Title 1"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Title 2"
      },
      {
        "type": "text",
        "id": "button_title",
        "label": "Button Title"
      },

      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
      
    ],
    "presets": [
      {
        "name": "Image Banner Custom"
      }
    ]
  }
{% endschema %}